.body{
    background-color: #1A3636;
background-repeat: no-repeat;
background-size: cover;
backdrop-filter: blur(3px) ;
padding-top: 80px;  
overflow-x: hidden;
}


.navbar {
    background-color: #1A3636;
 
}

.navbar .nav-link {
    color: #ffffff;
   
}

.navbar .nav-link:hover {
    color: #ffc107;
    
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.footer-link {
    color: #fff; 
    text-decoration: none;
}

.footer-link:hover {
    color: #ccc; 
    text-decoration: underline;
}

footer {
    background-color: #1A3636;
    padding: 150px 0;
    color: white;
}

.bg-white {
    background-color: black;
}

.rounded {
    border-radius: 8px;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2{
    color: white;
}
