body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #86492f, #b66736);
    margin: 0;
    padding: 0;
}
.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(243, 242, 241);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0a0909;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}



input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


