.body{
    background-color: #1A3636;
background-repeat: no-repeat;
background-size: cover;
backdrop-filter: blur(3px) ;
padding-top: 80px;  
overflow-x: hidden;
}


.word {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    margin: 20px auto; 
    padding: 20px; 
    max-width: 800px; 
    font-size: large;
    border-style: ridge;
    border-color: 	#f1efee;
    background-color: #86492f;
}

.navbar {
    background-color: #1A3636;
    /* Custom background color */
}

.navbar .nav-link {
    color: #ffffff;
    /* White text */
}

.navbar .nav-link:hover {
    color: #ffc107;
    /* Yellow on hover */   
}